{
    "root": true,
    "extends": [
        "eslint:recommended"
    ],
    "env": {
        "browser": true,
        "amd": true,
        "es5": true
    },
    "parserOptions": {
        "ecmaVersion": 2020
    },
    "rules": {
        "no-unused-vars": ["warn", {"args": "none"}],
        "no-console": "off",
        "eqeqeq": ["error", "always"],
        "semi": ["error", "always"],
        "no-trailing-spaces": "error",
        "no-multiple-empty-lines": ["error", {"max": 2}],
        "prefer-const": "off"
    },
    "globals": {
        "require": "readonly",
        "define": "readonly",
        "M": "readonly",
        "Y": "readonly"
    }
}
