<?xml version="1.0" encoding="UTF-8"?>
<!--
    PHPUnit configuration for local_stackmatheditor.

    Run from Moodle root:
        vendor/bin/phpunit --configuration local/stackmatheditor/phpunit.xml

    Or let moodle-plugin-ci discover it automatically:
        moodle-plugin-ci phpunit
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="../../vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="local_stackmatheditor">
            <directory>tests/unit/</directory>
        </testsuite>
    </testsuites>
</phpunit>
